html, body{
    font-family:'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0px;
    background-color: #121212;
    color: #EAEAEA;
}
.topbar{
    height: 70px;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(117, 117, 117);
}
.navlink{
    font-size: large;
    color: white;
    border: 2px solid rgb(142, 142, 142);
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    text-decoration: none;
}
.navlink.active{
    font-size: large;
    color: #4CAF50;
    border-color: #4CAF50;
    border: 2px solid rgb(0, 120, 8);
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    text-decoration: none;
}
.navlink:hover{
    background-color: rgb(83, 83, 83);
}
.title{
    font-size: 40px;
    color: white;
    margin: 8px;
}
.section{
    background-color: #1E1E1E;
    margin: 50px;
    border-radius: 10px;
    padding: 20px;
}
section h3{
margin: 30px 0 30px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    background-color: #2A2A2A;
    font-size: 20px;
    width: 400px;
    height: 180px;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text h2 {
  margin: 0;
}
.card-text p {
  margin-top: 20px;
}
.navigation{
    background-color: #2E7D32;
    border-color: #2E7D32;
    border: 2px solid rgb(0, 120, 8);
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.navigation:hover {
  background-color: rgb(35, 90, 37);
}
@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
    gap: 20px;
  }
  .container {
    width: 100%;
    max-width: 400px;
  }
}
